/* modal animation */
@keyframes zoom{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

/* loader animation */
@keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }