a {
  font-family: var(--mainFont);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: black;
}

/* active state of links */
.active {
    font-weight: bold;
    color: var(--mainColor);
  }

/* buttons */
.btn {
  font-family: var(--mainFont);
  font-size: small;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  color: var(--mainWhiteColor);
  background-color: var(--btnColor);
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.btn:hover {
  opacity: 0.8;
  transition: 0.5s ease;
}

/* breadcrumbs */
.breadcrumbs {
  padding-top: 3rem;
  display: flex;
  gap: 2px;
}

.breadcrumbs li{
    list-style: none;
}

.breadcrumbs a {
  text-transform: capitalize;
}
