a{
    text-decoration: none;
    color: black;
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.btn{
    padding: .8rem 1.5rem;
    background-color: var(--btnColor);
    border: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1rem;
    font-family: "montserrat", sans-serif;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn:hover{
    opacity: .8;
    transition: 0.5s ease;
}

.breadcrumbs{
    padding-top: 3rem;
    }
    
    .breadcrumbs a{
        color: black;
        text-transform: capitalize;
    }

    .breadcrumbs a.active{
        color: var(--mainColorDarkened);
    }
    
    .active{
        font-weight: bold;
        color: var(--mainColor);
    }

    .active a{
        color: var(--mainColor);
    }