a{
    text-decoration: none;
    color: black;
    font-family: "catamaran", sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.btn{
    padding: .5rem 1.5rem;
    background-color: var(--btnColor);
    border: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1rem;
    font-family: "catamaran", sans-serif;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn:hover{
    opacity: .8;
    transition: 0.5s ease;
}

.breadcrumbs{
    padding: 3rem 0rem;
    width: 85vw;
    max-width: 1000px;
    margin: 0 auto;
    }
    
    .breadcrumbs a{
        color: black;
        text-transform: capitalize;
    }

    .breadcrumbs a.active{
        color: var(--mainColorDarkened);
    }
    
    .active{
        font-weight: bold;
        color: var(--mainColor);
    }

    .active a{
        color: var(--mainColor);
    }