.blog-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/pexels-francesco-ungaro-2325446.jpg);
  background-position: center;
  background-size: cover;
}

.post-container{
  position: relative;
  min-height: 40vh;
}

/* make loader and fetch error centered on page */
.loader, .fetchError{
  position: absolute;
  top: 25%;
}

.loader{
  left: 46%;
}

.fetchError{
  left: 50%;
  transform: translateX(-50%);
}

/* filter section */
.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

/* search */
.search-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

.search-input {
  padding: 7px;
  border-radius: 0;
  font-family: "montserrat", sans-serif;
  border: 1px solid black;
  background-color: transparent;
}

.search-btn {
  padding: 11px;
}

/* categories */
.post-nav {
  display: flex;
  gap: 0.6rem;
}

.post-nav li {
  list-style: none;
}

.post-nav button {
  cursor: pointer;
  background: transparent;
  border: 0;
  font-weight: 300;
  font-size: .9rem;
}

.post-nav .active{
  font-weight: bold;
}


/* all posts section */
.all-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  width: 85vw;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.post {
  transition: all 0.5s;
  cursor: pointer;
}

.post a h2 {
  color: var(--mainWhiteColor);
  font-size: 1.3rem;
}

.post:hover {
  transform: scale(1.02);
  box-shadow: var(--boxShadow);
}

.post .featured-img {
  background-size: cover;
  background-position: center;
  height: 370px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.view-more-btn {
  margin-top: 5rem;
}

@media (min-width: 1200px) {

  .filter-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0rem;
  }

  .post-nav {
    gap: 1.2rem;
  }

  .post-nav button {
    font-size: 1rem;
  }
}
