.blog-hero{
    background: linear-gradient(rgba(0 ,0,0,0.3), rgba(0,0,0,0)), url(../images/david-marcu-78A265wPiO4-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-bottom: 3rem;
}

.blog-paragraph{
    width: 85vw;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.blog-paragraph p{
    max-width: 600px;
}

.category-container{
    width: 85vw;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-container select{
    width: fit-content;
}

.category-container label, .category-container select{
    font-family: "catamaran", sans-serif;
}

.all-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container{
    padding-top: 1rem;
    width: 85vw;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.post{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    height: fit-content;
    transition: all 0.5s;
}

.post:hover{
    box-shadow: 5px 10px 10px lightgray;
    transition: all 0.5s;
    }

.post h2{
    padding-top: 1rem;
    font-style: normal;
}

.post h2::after{
    content: "";
    display: block;
    margin-top: 1rem;
    height: 1px;
    background-color: #AD323C;
}

.post p{
    max-width: 300px;
}

.post a{
    color: #AD323C;
    padding-bottom: 2rem;
}

.post .featured-img{
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 250px;
    padding: 1rem;

  
}



.view-more-btn{
    margin: 3rem;
   text-transform: uppercase;
   letter-spacing: .1rem;
   cursor: pointer;

}

@media (min-width: 799px){
    .post-container{
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
}