.blog-hero{
    background: linear-gradient(rgba(0 ,0,0,0.5), rgba(0,0,0,0)), url(../images/david-marcu-78A265wPiO4-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.blog-paragraph p{
    max-width: 600px;
    padding-bottom: 3rem;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#search-input, .search-btn{
    padding: 7px;
    border-radius: 0;
    font-family: "catamaran", sans-serif;
    font-weight: 100;
}

#search-input{
    border: 1px solid black;
}

.search-btn{
    border: none;
    background-color:  #ed8516;
    color: white;
    font-family: "catamaran", sans-serif;
    cursor: pointer;
    transition: 0.5s ease;
}

.search-btn:hover{
    background-color: #a45500;
    transition: 0.5s ease;
}

.filter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
}

.order-by{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.all-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container{
    width: 85vw;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.post{
    background-color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.post a h2{
    color: white;
}

.post:hover{
    transform:scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: all 0.5s;
    }

.post .featured-img{
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 370px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*.post h2::after{
    content: "";
    display: block;
    margin-top: 1rem;
    height: 1px;
    background-color: #162B6F;
}*/

.post p{
    max-width: 90%;
}

.post a{
    color: #162B6F;
}

.view-more-btn{
    margin-top: 5rem;
}

@media (min-width: 799px){
    .post-container{
      grid-template-columns: 1fr 1fr 1fr;
    }
}