main {
  min-height: 100vh;
}

/* hero */
/*.home-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(../images/ian-dooley-DuBNA1QMpPA-unsplash.jpg);
  background-position: top;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.home-hero h1,
.home-hero p {
  color: white;
  text-align: center;
  max-width: 90vw;
  margin: 0 auto;
}

.home-hero h1 {
  font-family: "Abril Fatface", sans-serif;
}*/

.home-hero{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
   padding-bottom: 0;
}

.home-hero h1,
.home-hero p {
  color: white;
  text-align: center;
  max-width: 90vw;
  margin: 0 auto;
}

.home-hero h1 {
  font-family: "Abril Fatface", sans-serif;
}

.home-hero p{
    font-size: 1.3rem;
    letter-spacing: .3rem;
    text-transform: capitalize;
}

.home-hero h1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: -2;
}


/* latest posts */
.latest-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
}

/* slides */
.carousel-container {
  width: 70vw;
  position: relative;
  overflow: hidden;
  display: flex;
}

.slide {
  min-width: 100%;
  transition: transform 0.3s ease-in;
}

.slide-img {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.slide .post-date {
  font-size: small;
  opacity: 0.8;
}

.slide a {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
  text-align: center;
}

.slide p {
  text-transform: none;
}

.slide h3{
    transition: all 0.3s;
}
.slide:hover h3, .slide:focus h3{
    color: var(--mainColorDarkened);
    transition: all 0.3s;
}

.slide .read-more {
  color: #162b6f;
  text-transform: uppercase;
}

.overlay{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    opacity: 0;
}

.slide:hover .overlay, .slide:focus .overlay{
    opacity: 1;
    transition: all 0.5s;
}

.slide:hover .overlay-title, .slide:focus .overlay-title{
color: white;
transition: all 0.5s;
}

/* carousel buttons*/
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  width: 20px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s;
}

.carousel-btn:hover,
.carousel-btn:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.next-btn {
  right: 1rem;
}

.prev-btn {
  left: 1rem;
}

@media (min-width: 799px) {
  .next-btn {
    right: 4rem;
  }

  .prev-btn {
    left: 4rem;
  }

  .slide {
    padding: 1rem;
    min-width: 50%;
  }
}

@media (min-width: 1224px) {
  .carousel-btn {
    width: 30px;
    height: 50px;
    font-size: 1.5rem;
  }

  .slide {
    min-width: 33.33%;
  }

  .slide-img{
      height: 190px;
  }
}
