/* hero */
/*.home-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(../images/ian-dooley-DuBNA1QMpPA-unsplash.jpg);
  background-position: top;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.home-hero h1,
.home-hero p {
  color: white;
  text-align: center;
  max-width: 90vw;
  margin: 0 auto;
}

.home-hero h1 {
  font-family: "Abril Fatface", sans-serif;
}*/

.home-hero {
  justify-content: center;
  gap: 0.2rem;
  padding-bottom: 0;
}

.home-hero h1,
.home-hero p {
  width: 90vw;
  text-align: center;
}

.home-hero p {
  font-size: .8rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: var(--mainWhiteColor);
  text-align: center;
}

.home-hero h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  max-height: 900px;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  max-height: 900px;
  object-fit: cover;
  z-index: -2;
}



.switch-slide .switch{
  left: 50%;
}

/* latest posts section */
.section-title {
  text-align: center;
  margin-top: 3rem;
}

/* aligning title, content and button */
.latest-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto;
  padding: 3rem 0;
}

/* slides */
.carousel-container {
  width: 70vw;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.slide {
  min-width: 100%;
  transition: transform 0.3s ease-in;
}

.slide-img {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.slide h3 {
  text-transform: none;
  max-width: 95%;
  font-weight: 600;
  font-size: 1rem;
}

.slide .post-date {
  font-size: small;
  opacity: 0.8;
}

.slide a {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.slide p {
  text-transform: none;
}

/* hide overlay on hover on larger screensize */
.overlay{
  opacity: 0;
}

/* carousel buttons*/
.carousel-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  background: none;
  background-color: transparent;
  border: none;
  color: black;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s;
}

.next-btn {
  right: 20px;
}

.prev-btn {
  left: 20px;
}

@media (min-width: 768px) {
  .carousel-container{
    width: 80vw;
  }
  .next-btn {
    right: 4%;
  }
  
  .prev-btn {
    left: 4%;
  }

  .slide {
    padding: .5rem;
    min-width: 50%;
  }

}

@media (min-width: 1000px) {
  /* hovering on posts */
.slide h3 {
  transition: all 0.3s;
}
.slide:hover h3,
.slide:focus h3 {
  color: var(--mainColorDarkened);
  transition: all 0.3s;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s;
}

.overlay-title {
  color: var(--mainWhiteColor);
  min-width: 100%;
}

.slide:hover .overlay,
.slide:focus .overlay {
  opacity: 1;
  transition: all 0.3s;
}

.slide:hover .overlay-title,
.slide:focus .overlay-title {
  color: var(--mainWhiteColor);
  transition: all 0.3s;
}

/* width of slide */
  .slide {
    min-width: 33.33%;
  }
}

@media (min-width: 1224px) {
  .next-btn {
    right: 1%;
  }
  
  .prev-btn {
    left: 1%;
  }
/* width of slide */
  .slide {
    min-width: 25%;
  }

}
