.featured-img {
  background-position: center;
  background-size: cover;
}

/* all parts with flex and gap */
.intro-section,
.highlight-section,
.highlight-card,
.city-section,
.city-1,
.city-2,
.city-3,
.city-4,
.city-text,
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* intro */
.intro-section h2 {
  max-width: 800px;
}

.small-txt {
  font-style: italic;
  margin-bottom: 1rem;
}

/* highlight section */
.highlight-section {
  margin: 3rem 0;
}

.post-img {
  width: 100%;
  height: 370px;
  transition: var(--transition);
  object-fit: cover;
}

/* destination section */
.city-1,
.city-2,
.city-3,
.city-4 {
  padding: 2rem 0rem;
}

/*modal*/
.modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--mainWhiteColor);
  z-index: 1200;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-img {
  max-height: 100vw;
  max-width: 95vw;
  animation: zoom 0.3s linear;
}

.modal-txt {
    font-family: var(--mainFont);
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 799px) {
  .post-img {
    height: 500px;
    transition: var(--transition);
  }

  .modal-img {
    max-height: 80vh;
    max-width: 85vw;
  }
}

@media (min-width: 1200px) {
  .post-img:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: var(--boxShadow);
  }

  /* highlight section change of layout */
  .highlight-section {
    position: relative;
    height: 85vh;
    max-height: 650px;
    margin: 4rem 0;
  }

  .highlight-section > img {
    width: 100%;
    max-width: 600px;
    height: 100%;
    position: absolute;
    right: 0;
  }

  .highlight-card {
    box-shadow: var(--boxShadow);
    background-color: var(--mainLightColor);
    padding: 3rem;
    max-width: 470px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  /* destination section change of layout */
  .section-title {
    text-align: center;
  }

  .city-1,
  .city-2,
  .city-3,
  .city-4 {
    display: grid;
    align-items: flex-end;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }

  .city-1,
  .city-3 {
    grid-template-areas: "img text";
  }

  .city-1 img,
  .city-3 img {
    grid-area: img;
  }
}
