@import "./import/links.css";
@import "./import/variables.css";
@import "./import/animations.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8F7F9;
}

main{
    padding-bottom: 3rem;
    min-height: 100vh;
}

.hero{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 3rem;
}

.hero h1, .featured-img h1{
    font-family: "catamaran", sans-serif;
    font-weight: bold;
    letter-spacing: .2rem;
    color: white;
}

.main-container{
    width: 85vw;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

h1, h2{
    font-family: "kudryashev-d-contrast", sans-serif;
    letter-spacing: .2rem;
}

h1{
    font-size: 1.7rem;
    text-transform: uppercase;
    font-style: normal;
    color: #5570B4;
    font-weight: bold;
}

h2{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #162b6f;
}

h3, h4{
    font-family: "catamaran", sans-serif;
    font-weight: 400;
    color: #162b6f;
}

p, label{
    font-family: "catamaran", sans-serif;
    font-weight: 100;
}

input, textarea{
    font-family: inherit;
}

/* navigation */
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    transition: all 0.3s;
}

.logo{
    color: white;
    padding: 1rem;
}
.logo img{
    max-width: 110px;
    padding-top: 10px;
}

.navbar-change{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar-center.logo img{
    background: black;
}

.navbar-center{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav-links{
    position: absolute;
    right: 0;
    top: 0px;
    height: 100vh;
    background-color: #F8F7F9;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.7s ease-in-out;
}

.nav-links li{
    list-style: none;
    padding: 3rem;
}

.nav-links a{
    transition: all 0.3s;
}

.hamburger{
    cursor: pointer;
}

.hamburger:focus{
    outline: 1px solid black;
}

.show{
    transform: translateX(0%);
}

.close-menu img{
cursor: pointer;
position: absolute;
top: 2rem;
left: 2rem;
}

footer{
    padding: 3rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color: #eeedf0;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-links{
    width: 85vw;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: .5px solid lightslategray;
    padding-bottom: 2rem;
}

.footer-links a{
    text-transform: capitalize;
}

.footer-links a:hover{
    text-decoration: underline;
}

.copyright{
    font-family: "catamaran", sans-serif;
    font-size: small;
    color: grey;
    padding-top: 2rem;
}

/* loader */
.loader {
    border: 10px solid #e4ebf2;
    border-top: 10px solid #162b6f;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 30px;
    animation: spin .8s infinite ease-in-out;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  /* Fetch error */
.fetchError {
    background-color: #ffcccb;
    padding: 20px;
    color: darkred;
    width: fit-content;
    border: 1px solid darkred;
  }