*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8F7F9;
}

main{
    padding-bottom: 3rem;
    min-height: 100vh;
}

.hero h1{
    font-family: "catamaran", sans-serif;
    font-weight: bold;
    letter-spacing: .2rem;
    color: white;
}

h1, h2{
    font-family: "kudryashev-d-contrast", sans-serif;
    letter-spacing: .2rem;
}

h1{
    font-size: 1.7rem;
    text-transform: uppercase;
    font-style: normal;
    color: #5570B4;
}

h2{
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1.6rem;
    color: #162b6f;
}

h3, h4{
    font-family: "catamaran", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

p, label{
    font-family: "catamaran", sans-serif;
    font-weight: 100;
}

input, textarea{
    font-family: inherit;
}

a{
    text-decoration: none;
    color: white;
    font-family: "catamaran", sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.btn{
    padding: .5rem 1.5rem;
    background-color: #162B6F;
    border: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1rem;
    font-family: "catamaran", sans-serif;
    cursor: pointer;
}

/* navigation */
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    transition: all 0.3s;
}

.navbar-change{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar-change a{
    color: black;
}

.navbar-center{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav-links{
    position: absolute;
    right: 0;
    top: 0px;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.7s ease-in-out;
}

.nav-links li{
    list-style: none;
    padding: 3rem;
}

.nav-links a{
    transition: all 0.3s;
}

.nav-links a:hover{
    opacity: 0.5;
    transition: all 0.3s;
}

.hamburger{
    cursor: pointer;
}

.show{
    transform: translateX(0%);
}

.close-menu img{
cursor: pointer;
position: absolute;
top: 2rem;
left: 2rem;
}

.breadcrumbs{
padding: 3rem 0rem;
width: 85vw;
max-width: 1000px;
margin: 0 auto;
}

.breadcrumbs a{
    color: black;
    text-transform: capitalize;
}

.active{
    font-weight: bold;
}

footer{
    padding: 3rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color: #eeedf0;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

/* loader */
.loader {
    border: 10px solid #e4ebf2;
    border-top: 10px solid #162b6f;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 30px;
    animation: spin .8s infinite ease-in-out;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }